.navbar{
    background-color: white;
}

.nav-link{
    font-size:20px;
    color: black;
    font-family: 'Arial';
}

.nav-link:hover{
    color:#9a0506;
}

.nav1:hover{
    color:black;
}

.navbar-toggler{
    cursor: pointer;
    }

.btn1{
    background-color:#9a0506;
    color: #ffffff;
    font-style: inherit;
    text-align: center;
}

.btn1:link{
    text-decoration: none;
}

.trans{
    -webkit-border-radius: 50px;
     -moz-border-radius: 50px;
     border-radius: 50px;
     margin: 5px;
     padding:10px;
     font-family: Arial;
     font-size: 18px;
}
